Repository HerodotusDev/hdp-cairo, pull requests merged in 2024-07, with the labels that each got.

#44 Dry run entrypoint memv2
  cairo/src/lib.cairo
  cairo/src/memorizer/account_memorizer.cairo
  cairo/src/memorizer/header_memorizer.cairo
  packages/contract_bootloader/dryrun_syscall_handler.py
  packages/contract_bootloader/memorizer/account_memorizer.py
  packages/contract_bootloader/memorizer/header_memorizer.py
  packages/contract_bootloader/memorizer/memorizer.py
  packages/contract_bootloader/provider/account_key_provider.py
  packages/contract_bootloader/syscall_handler.py
  src/contract_dry_run.cairo
  src/contracts/dry_run_test/src/lib.cairo
  tools/py/account.py
  tools/py/rlp.py
  tools/py/schema.py
Labels: Cairo1, Contract, Cairo0

#39 2 - slr contract & cairo1 package
  .github/workflows/pull-request.yml
  .gitignore
  Makefile
  Scarb.lock
  Scarb.toml
  cairo/Scarb.toml
  cairo/src/lib.cairo
  cairo/src/memorizer.cairo
  cairo/src/memorizer/header_memorizer.cairo
  compile.sh
  packages/contract_bootloader/contract_bootloader.cairo
  packages/contract_bootloader/dryrun_syscall_handler.py
  packages/contract_bootloader/execute_entry_point.cairo
  packages/contract_bootloader/execute_syscalls.cairo
  packages/contract_bootloader/objects.py
  packages/hdp_bootloader/bootloader/builtins.py
  packages/hdp_bootloader/bootloader/execute_task.cairo
  packages/hdp_bootloader/bootloader/hdp_bootloader.cairo
  packages/hdp_bootloader/bootloader/objects.py
  packages/hdp_bootloader/bootloader/utils.py
  packages/hdp_bootloader/builtin_selection/inner_select_builtins.cairo
  packages/hdp_bootloader/builtin_selection/select_input_builtins.cairo
  packages/hdp_bootloader/builtin_selection/validate_builtins.cairo
  setup.py
  snfoundry.toml
  src/cairo1/simple_linear_regression/.gitignore
  src/cairo1/simple_linear_regression/src/lib.cairo
  src/contracts/example/.gitignore
  src/contracts/example/src/lib.cairo
  src/contracts/sierra_compile.sh
  src/contracts/simple_linear_regression/1-declare.sh
  src/contracts/simple_linear_regression/2-deploy.sh
  src/contracts/simple_linear_regression/Scarb.toml
  src/contracts/simple_linear_regression/src/lib.cairo
  src/contracts/simple_linear_regression/src/slr/fraction.cairo
  src/contracts/simple_linear_regression/src/slr/fraction/fraction.cairo
  src/contracts/simple_linear_regression/src/slr/fraction/tests.cairo
  src/contracts/simple_linear_regression/src/slr/tests.cairo
  src/contracts/simple_linear_regression_contract.json
  src/hdp_input.json
  src/objects.py
  src/tasks/aggregate_functions/contract.cairo
  src/tasks/aggregate_functions/slr.cairo
  src/tasks/computational.cairo
  src/utils.py
  tests/cairo_programs/aggregate_functions.cairo
  tools/make/build.sh
  tools/make/build_cairo1.sh
  tools/make/cairo_format_check.sh
  tools/make/contract_casm_compile.sh
  tools/make/format_cairo_files.sh
Labels: enhancement, Cairo1, Contract, Cairo0

#42 3 - Dry run entrypoint
  Makefile
  Scarb.lock
  Scarb.toml
  cairo/src/lib.cairo
  cairo/src/memorizer.cairo
  cairo/src/memorizer/account_memorizer.cairo
  cairo/src/memorizer/header_memorizer.cairo
  environment.dockerfile
  packages/contract_bootloader/dryrun_syscall_handler.py
  packages/contract_bootloader/execute_entry_point.cairo
  packages/contract_bootloader/memorizer/__init__.py
  packages/contract_bootloader/memorizer/account_memorizer.py
  packages/contract_bootloader/memorizer/header_memorizer.py
  packages/contract_bootloader/memorizer/memorizer.py
  packages/contract_bootloader/provider/__init__.py
  packages/contract_bootloader/provider/account_key_provider.py
  packages/contract_bootloader/provider/evm_provider.py
  packages/contract_bootloader/syscall_handler.py
  src/contract_dry_run.cairo
  src/contracts/dry_run_test/1-declare.sh
  src/contracts/dry_run_test/2-deploy.sh
  src/contracts/dry_run_test/Scarb.toml
  src/contracts/dry_run_test/src/lib.cairo
  src/contracts/simple_linear_regression/1-declare.sh
  src/tasks/aggregate_functions/slr.cairo
  src/utils.py
  tools/make/launch_cairo_files.py
  tools/py/account.py
  tools/py/rlp.py
  tools/py/schema.py
  tools/py/utils.py
Labels: enhancement, Contract, Cairo0

#56 6-deploy python package CD
  .github/workflows/merge.yml
  setup.py
  tools/make/full_flow_test.sh
Labels: CI/CD

#64 3.7 - More syscalls opts
  packages/contract_bootloader/execute_entry_point.cairo
  packages/contract_bootloader/execute_syscalls.cairo
  packages/contract_bootloader/execute_syscalls_handler/account_memorizer_handler.cairo
  packages/contract_bootloader/execute_syscalls_handler/get_value_trait.cairo
  packages/contract_bootloader/execute_syscalls_handler/header_memorizer_handler.cairo
  packages/contract_bootloader/execute_syscalls_handler/storage_memorizer_handler.cairo
Labels: enhancement, Cairo0

#67 Cached syscall providers
  packages/contract_bootloader/provider/account_key_provider.py
  packages/contract_bootloader/provider/header_key_provider.py
  packages/contract_bootloader/provider/storage_key_provider.py
Labels: enhancement
